<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 03</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body ng-app="appTask06">
<div ng-controller="appController">
    <div class="page-header">
        <h1>Task 04
            <small>directives communication via events</small>
        </h1>
    </div>
    <label>{{valueOp}}</label>


    <div class="form-group form-inline">
        <input type="text" class="form-control" ng-model="task.text">
        <button class="btn-default" ng-click="createTask()">CREATE TASK</button>
    </div>
</div>


<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/angular/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/service.js"></script>
<script src="js/appController.js"></script>
</body>
</html>